<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480734037935-4n4kjcdamkjmlucmbfrlf3e59jajoo4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480734037935-4n4kjcdamkjmlucmbfrlf3e59jajoo4g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480734037935-7ealtqql02t8nb8973schnrjcgd6dki0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMvUF3xZNT9JDM_Rq2VPguAiI4ECyRqjI</string>
	<key>GCM_SENDER_ID</key>
	<string>480734037935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchat</string>
	<key>PROJECT_ID</key>
	<string>sandbox-23210</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-23210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480734037935:ios:464ac246a26ec78b4b115a</string>
	<key>DATABASE_URL</key>
	<string>https://sandbox-23210.firebaseio.com</string>
</dict>
</plist>